<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  </head>
  <body>
    <nav>
        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/cfp-2014.html">Call for Papers</a> |
        <a href="{{ site.baseurl }}/committee.html">Committee</a> |
        <a href="{{ site.baseurl }}/venue.html">Venue</a>
      </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>